name: Build

on:
  push:
    branches: [73-optimize-build-files]
  pull_request:
    branches: [main]
  release:
    types: [released]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run linter
        run: yarn eslint . --max-warnings 0

      - name: Run formatter
        run: yarn prettier --check "src/**/*.(ts|js)"

      - name: TypeScript build
        run: yarn ts:build
  deploy:
    needs: build
    # only run deploy on pushes and releases
    if: ${{ github.event_name == 'push' || github.event_name == 'release' }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # set target deployment to production on release and get release tag
      - name: Configuration for releases
        if: ${{ github.event_name == 'push' }}
        run: |
          echo "DEPLOYMENT_TARGET=staging" >> $GITHUB_ENV
          echo "RELEASE_TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      # set target deployment to staging on push
      - name: Configuration for pushes
        if: ${{ github.event_name == 'release' }}
        run: echo "DEPLOYMENT_TARGET=staging" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push version image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          cache-to: uwcsclub/codey-bot:cache
          cache-from: uwcsclub/codey-bot:cache
          file: docker/${{env.DEPLOYMENT_TARGET}}/Dockerfile
          push: true
          tags: uwcsclub/codey-bot:${{ github.sha }}${{ github.event_name == 'push' && format(',uwcsclub/codey-bot:{0}' , github.sha) || '' }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Pull image and start container in deploy host
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            cd /codey/${{env.DEPLOYMENT_TARGET}}
            curl -o docker-compose.yml https://raw.githubusercontent.com/uwcsc/codeybot/main/docker/${{env.DEPLOYMENT_TARGET}}/docker-compose.yml
            docker pull uwcsclub/codey-bot:${{ github.event_name == 'release' && env.RELEASE_TAG || github.sha }}
            echo "TAG=${{ github.event_name == 'release' && env.RELEASE_TAG || github.sha }}" > docker.env
            docker-compose down
            docker-compose --env-file docker.env up -d
