name: Deploy Codey to Production

on:
  release:
    types: [released]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Get the release tag
        run: echo "RELEASE_TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          cache-to: uwcsclub/codey-bot:cache
          cache-from: uwcsclub/codey-bot:cache
          file: docker/production/Dockerfile
          push: true
          tags: uwcsclub/codey-bot:${{ env.RELEASE_TAG }},uwcsclub/codey-bot:${{ github.sha }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}

      - name: Copy docker-compose.yml to deploy host
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          source: 'docker/production/docker-compose.yml'
          target: '/home/codeybot/production'
          strip_components: 2

      - name: Pull image and start container in deploy host
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            cd /home/codeybot/production
            docker pull uwcsclub/codey-bot:${{ env.RELEASE_TAG }}
            echo "TAG=${{ env.RELEASE_TAG }}" > docker.env
            docker-compose down
            docker-compose --env-file docker.env up -d
